CheckersClient/Service References/LoginService/AddService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/AddService/AddService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/AddService/AddService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/AddService/AddService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/AddService/AddService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AddService" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/AddService/AddService/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddService_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IAddService_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_GetOfflineUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOfflineUsers" />
  </wsdl:message>
  <wsdl:message name="IAddService_GetOfflineUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOfflineUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_IsUserExist_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserExist" />
  </wsdl:message>
  <wsdl:message name="IAddService_IsUserExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserExistResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddService">
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/InsertUser" message="tns:IAddService_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/InsertUserResponse" message="tns:IAddService_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOfflineUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/GetOfflineUsers" message="tns:IAddService_GetOfflineUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/GetOfflineUsersResponse" message="tns:IAddService_GetOfflineUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/IsUserExist" message="tns:IAddService_IsUserExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/IsUserExistResponse" message="tns:IAddService_IsUserExist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAddService" type="tns:IAddService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IAddService/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfflineUsers">
      <soap:operation soapAction="http://tempuri.org/IAddService/GetOfflineUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserExist">
      <soap:operation soapAction="http://tempuri.org/IAddService/IsUserExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddService">
    <wsdl:port name="BasicHttpBinding_IAddService" binding="tns:BasicHttpBinding_IAddService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AddService/AddService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>